---

---

<section>
  <h3 class="font-roboto text-xl uppercase text-blue-500">Certifications</h3>
  <div class="font-roboto flex flex-row justify-between">
    <ul class="font-roboto ml-7 list-disc text-sm">
      <li>Curso de Introducción a la Nube, Platzi</li>
      <li>M001: MongoDB Basics, MongoDB</li>
      <li>LFS141x: Exploring GraphQL: A Query Language for APIs, edX</li>
    </ul>
    <ul class="font-roboto text-sm text-slate-500">
      <li>2023</li>
      <li>2021</li>
      <li>2020</li>
    </ul>
  </div>
</section>
