<section>
  <h3 class="font-roboto text-xl uppercase text-blue-500">Education</h3>
  <div class="grid grid-cols-2">
    <div>
      <p class="font-roboto"><strong>Universidad Nacional de Colombia</strong></p>
      <p class="font-roboto">B.Sc. in Systems and Informatics Engineering</p>
    </div>
    <div class="text-right">
      <p class="font-roboto">Medellín, Colombia</p>
      <p class="font-roboto text-sm text-slate-500">July 2012</p>
    </div>
  </div>
</section>
