---

---

<section>
  <h3 class="font-roboto text-xl uppercase text-blue-500">Professional Experience</h3>
  <div class="flex flex-col gap-4">
    <article>
      <div class="grid grid-cols-2">
        <div>
          <p class="font-roboto"><strong>Techstars</strong></p>
          <p class="font-roboto"><strong>Senior Software Engineer</strong></p>
        </div>
        <div class="text-right">
          <p class="font-roboto">Medellín, Colombia (Remote)</p>
          <p class="font-roboto text-sm text-slate-500">July 2021 - December 2022</p>
        </div>
      </div>
      <ul class="font-roboto ml-7 list-disc text-sm">
        <li>
          Collaborated with cross-functional teams to deliver high-impact projects on time,
          resulting in enhanced user experiences.
        </li>
        <li>
          Collaborated with the QA team to customize data generation scripts for specific test
          scenarios, resulting in more accurate and thorough testing outcomes.
        </li>
        <li>
          Collaborated in implemented a comprehensive test suite using Jest and Testing Library,
          covering critical front-end components and functionalities.
        </li>
      </ul>
    </article>
    <article>
      <div class="grid grid-cols-2">
        <div>
          <p class="font-roboto"><strong>Gorilla Logic</strong></p>
          <p class="font-roboto"><strong>Senior Frontend Engineer</strong></p>
        </div>
        <div class="text-right">
          <p class="font-roboto">Medellín, Colombia</p>
          <p class="font-roboto text-sm text-slate-500">December 2019 - July 2021</p>
        </div>
      </div>
      <ul class="font-roboto ml-7 list-disc text-sm">
        <li>
          Assisted the development team in the successful migration of the codebase from Backbone.js
          to Vue.js/Vuex and CSS modules, enhancing code maintainability and scalability.
        </li>
        <li>
          Actively participated in architecture definition sessions for the successful
          implementation of Mobile Device Management (MDM) in the application.
        </li>
        <li>
          Designed and implemented custom shared components from scratch, tailored to specific
          client requirements, enhancing project modularity and reusability.
        </li>
        <li>
          Introduced and configured Storybook, a component documentation tool, to facilitate
          seamless component sharing and collaboration across development squads, streamlining the
          development process.
        </li>
      </ul>
    </article>
    <article>
      <div class="grid grid-cols-2">
        <div>
          <p class="font-roboto"><strong>Globant</strong></p>
          <p class="font-roboto"><strong>Senior Frontend Engineer</strong></p>
        </div>
        <div class="text-right">
          <p class="font-roboto">Medellín, Colombia</p>
          <p class="font-roboto text-sm text-slate-500">April 2017 - November 2019</p>
        </div>
      </div>
      <ul class="font-roboto ml-7 list-disc text-sm">
        <li>
          Mentored new team members to help them grasp the intricacies of the new architecture,
          facilitating their understanding and accelerating their integration into the development
          team.
        </li>
        <li>
          Spearheaded the development of new, region-specific views for LATAM sports, providing
          tailored user experiences and expanding the application's market reach.
        </li>
        <li>
          Successfully managed the migration of components previously developed with proprietary
          technologies to React and Redux, ensuring modernization and improved maintainability of
          the codebase.
        </li>
      </ul>
    </article>
    <article>
      <div class="grid grid-cols-2">
        <div>
          <p class="font-roboto"><strong>Huge</strong></p>
          <p class="font-roboto"><strong>Frontend Engineer</strong></p>
        </div>
        <div class="text-right">
          <p class="font-roboto">Medellín, Colombia</p>
          <p class="font-roboto text-sm text-slate-500">May 2016 - February 2017</p>
        </div>
      </div>
    </article>
    <article>
      <div class="grid grid-cols-2">
        <div>
          <p class="font-roboto"><strong>Velocity Partners</strong></p>
          <p class="font-roboto"><strong>Frontend Engineer</strong></p>
        </div>
        <div class="text-right">
          <p class="font-roboto">Medellín, Colombia</p>
          <p class="font-roboto text-sm text-slate-500">October 2015 - April 2016</p>
        </div>
      </div>
    </article>
    <article>
      <div class="grid grid-cols-2">
        <div>
          <p class="font-roboto"><strong>Globant</strong></p>
          <p class="font-roboto"><strong>Frontend Engineer</strong></p>
        </div>
        <div class="text-right">
          <p class="font-roboto">Medellín, Colombia</p>
          <p class="font-roboto text-sm text-slate-500">June 2013 - October 2015</p>
        </div>
      </div>
    </article>
  </div>
</section>
