---
import Email from "../components/icons/Email.astro"
import Github from "../components/icons/Github.astro"
import Link from "../components/icons/Link.astro"
import Linkedin from "../components/icons/Linkedin.astro"
---

<header class="grid grid-cols-2">
  <section class="flex flex-col gap-1">
    <h1 class="font-roboto text-3xl font-bold text-blue-500">Andrés Bedoya Garcés</h1>
    <h2 class="text-2xl text-blue-500">Software Engineer</h2>
  </section>
  <section class="grid grid-cols-2">
    <div class="flex flex-row items-center gap-1">
      <Email />
      <p class="font-roboto text-xs">bedoya.andres@pm.me</p>
    </div>
    <div class="flex flex-row items-center gap-1">
      <Github />
      <p class="font-roboto text-xs">www.github.com/angelfire</p>
    </div>
    <div class="flex flex-row items-center gap-1">
      <Linkedin />
      <p class="font-roboto text-xs">www.linkedin.com/in/sabedoya</p>
    </div>
    <div class="flex flex-row items-center gap-1">
      <Link />
      <p class="font-roboto text-xs">www.srhart.co</p>
    </div>
  </section>
</header>
