---

---

<section>
  <h3 class="font-roboto text-xl uppercase text-blue-500">Technical Skills</h3>
  <ul class="ml-7 grid list-disc grid-cols-3 text-sm">
    <li>AWS (AppSync, DynamoDB, CloudWatch, S3)</li>
    <li>HTML/JavaScript</li>
    <li>CSS (Tailwind CSS, MUi, AntD)</li>
    <li>TypeScript</li>
    <li>Node.js</li>
    <li>Express</li>
    <li>GraphQL</li>
    <li>MongoDB</li>
    <li>PostgreSQL</li>
    <li>Prisma/Sequelize</li>
    <li>React</li>
    <li>Vue.js</li>
    <li>Jest</li>
    <li>Vite</li>
    <li>Testing Library</li>
  </ul>
</section>
